﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ad.master.cs" Inherits="SandoghKayedi.ad" %>
<%@ Register TagPrefix="telerik" Namespace="Telerik.Web.UI" Assembly="Telerik.Web.UI" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
 <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    
    <link rel="shortcut icon" href="img/favicon.html"/>

    <title>مدیریت</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-reset.css" rel="stylesheet"/>
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
   
<body >
   

    <form id="form1" runat="server">

    <div>
        
         <section id="container" class="">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="#" class="logo">سیستم صندوق خانوادگی  <span>کایدی بختیاری</span>  </a>
            <!--logo end-->

            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">

                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                        <asp:Image runat="server" Height="29" Width="29" ID="profilepic" />
                                    <asp:ContentPlaceHolder id="ContentPlaceHolder2" runat="server">
                                       
                                    </asp:ContentPlaceHolder>
                            <asp:Label ID="khoshamad" class="username" runat="server" Text="Label"></asp:Label>
                            

                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a href="Profile.aspx"><i class=" icon-suitcase"></i>پروفایل</a></li>
                            <li><a href="EditProfile.aspx"><i class="icon-cog"></i>ویرایش پروفایل</a></li>
                            <li><a href="#"><i class="icon-bell-alt"></i>پیام ها</a></li>
                            <li><a href="/Logout.aspx"><i class="icon-key"></i>خروج</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                    
                </ul>
                
                
                

                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a class="" href="Default.aspx">
                            <i class="icon-dashboard"></i>
                            <span>صفحه اصلی</span>
                        </a>
                    </li>
                    <li class="sub-menu" id="BaseInformation" runat="server"  >
                        <a href="javascript:;" class="">
                            <i class="icon-book"></i>
                            <span>اطلاعات پایه</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li id="Li19" runat="server"  ><a class=""  href="NewMember.aspx">افزودن عضو جدید</a></li>
                            <li id="ChartConfiguration" runat="server"  ><a class=""  href="InformationEdit.aspx">مشخصات اعضا</a></li>
                            <li id="CurrentDate" runat="server"  ><a class=""  href="Dates.aspx">دوره های صندوق</a></li>
                            <li id="Li1" runat="server"  ><a class=""  href="Bank.aspx">اطلاعات بانک</a></li>


                            
                        </ul>
                    </li>
                    
                    <li class="sub-menu" id="Kartabl" runat="server">
                        <a href="javascript:;" class="">
                            <i class="icon-cogs"></i>
                            <span>دریافت و پرداخت</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                          <li id="Msgs" runat="server"><a class="" href="FamilySubmit.aspx">ثبت فیش خانواده</a></li>
                          <li id="Li2" runat="server"><a class="" href="NewUserSubmit.aspx">ثبت فیش عضو جدید</a></li>
                          <li id="Li3" runat="server"><a class="" href="VamSubmit.aspx">ثبت وام</a></li>
                          <li id="Li4" runat="server"><a class="" href="ProfitSubmit.aspx">ثبت سود</a></li>
                          <li id="Li5" runat="server"><a class="" href="PaySubmit.aspx">ثبت هزینه</a></li>
                          <li id="Li6" runat="server"><a class="" href="CheckOut.aspx">تسویه حساب</a></li>



                        </ul>
                    </li>
                      <li class="sub-menu" id="UserKartabl" runat="server">
                        <a href="javascript:;" class="">
                            <i class="icon-cogs"></i>
                            <span>دریافت و پرداخت</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li id="Li7" runat="server"><a class="" href="Information.aspx">گزارش</a></li>

                          <li id="Li22" runat="server"><a class="" href="PaySubmit.aspx">پرداخت</a></li>
                          



                        </ul>
                    </li>
                    <li class="sub-menu" id="Bank" runat="server">
                        <a href="javascript:;" class="">
                            <i class="icon-cogs"></i>
                            <span>تاییدیه بانک</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                          <li id="Li8" runat="server"><a class="" href="ManualConfirm.aspx">تایید دستی</a></li>
                          <li id="Li9" runat="server"><a class="" href="ImportBank.aspx">ارسال اطلاعات بانکی</a></li>
                          <li id="Li10" runat="server"><a class="" href="Update.aspx">بروزرسانی</a></li>




                        </ul>
                    </li>

                    <li class="sub-menu" id="Report" runat="server">
                        <a href="javascript:;" class="">
                            <i class="icon-cogs"></i>
                            <span>گزارش گیری</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                          <li id="Li12" runat="server"><a class="" href="Information.aspx">خلاصه وضعیت اعضا</a></li>
                          <li id="Li18" runat="server"><a class="" href="CheckOutReport.aspx">خلاصه تسویه حساب ها</a></li>
                          <li id="Li13" runat="server"><a class="" href="BankSummary.aspx">خلاصه موجودی بانک</a></li>
                          <li id="Li14" runat="server"><a class="" href="VamSummary.aspx">خلاصه وضعیت وام ها</a></li>
                          <li id="Li15" runat="server"><a class="" href="PardakhtSummary.aspx">خلاصه وضعیت پرداختی ها</a></li>
                          <li id="Li16" runat="server"><a class="" href="FishCheck.aspx">اعتبار سنجی شماره فیش</a></li>
                          <li id="Li17" runat="server"><a class="" href="MonthlyReport.aspx">گزارش پرداخت ماهانه</a></li>
                            <li id="Li20" runat="server"><a class="" href="LoanTurns.aspx">گزارش نوبت های وام</a></li>





                        </ul>
                    </li>

                  <%-- <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon-tasks"></i>
                            <span>بزودی</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="#">بزودی</a></li>
                            <li><a class="" href="#">بزودی</a></li>
                            <li><a class="" href="#">بزودی</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon-th"></i>
                            <span>بزودی</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="#">بزودی</a></li>
                            <li><a class="" href="#">بزودی</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="" href="#">
                            <i class="icon-envelope"></i>
                            <span>بزودی </span>
                            <span class="label label-danger pull-right mail-info">100</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon-glass"></i>
                            <span>بزودی</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="#">بزودی</a></li>
                            <li><a class="" href="#">بزودی</a></li>

                        </ul>
                    </li>

                </ul>--%>
                <!-- sidebar menu end-->
            </div>
        </aside>

        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!-- page start-->
<%--                    <input type="text"  id="scroll1" />--%>
<%--<asp:TextBox runat="server" ID="scroll"></asp:TextBox>--%>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">

        </asp:ContentPlaceHolder>
             
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="/js/common-scripts.js"></script>



    </div>
    </form>
    


</body>
    
</html>