﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="SandoghKayedi.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ScriptManager runat="server"></asp:ScriptManager>
        <asp:UpdatePanel runat="server">
            <ContentTemplate>

            
    <asp:Label runat="server" ID="debbi"></asp:Label>
                <asp:Label runat="server" ID="active"></asp:Label>
                <asp:Label runat="server" ID="ec"></asp:Label>
               
        <asp:Timer runat="server" ID="timer" Interval="1000" Enabled="true" OnTick="timer_Tick"></asp:Timer>
                 </ContentTemplate>
        </asp:UpdatePanel>
    </div>
    </form>
</body>
</html>
