﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ad.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="SandoghKayedi.admin.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:DataGrid runat="server" ID="test"> </asp:DataGrid>
    <asp:Button runat="server" Text="1" OnClick="Unnamed_Click1" />
    <asp:Button  runat="server" Text="2" OnClick="Unnamed_Click"/>
    <asp:Button runat="server" ID="test2" OnClick="test_Click" />
</asp:Content>
