﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm2.aspx.cs" Inherits="SandoghKayedi.admin.WebForm2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form name="myform" action="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" method="POST">
					<input type="hidden" id="RefId" name="RefId" runat="server" >
				</form>

    				<script type="text/javascript"> function formSubmit() { document.forms[0].submit(); }</script>
    <form id="form1"  runat="server">
    <div>
    <asp:Button runat="server" ID="test" OnClick="test_Click" />
        <asp:TextBox runat="server" ID="kk" ></asp:TextBox>
        <asp:Label runat="server" ID="tests"></asp:Label>
    </div>
    </form>
</body>
</html>
